html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: beige;
  /*background-image: url('/stickers/grassstrip2.png');*/
}

/* Make sure body is the positioning context */
body {
  position: relative;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  border: 7px dashed #F0D667;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 9999;
}

